@import helper/vars
@import helper/mixin
@import helper/fonts
@import components/header
@import components/footer
@import helper/adaptive

html 
  font-size: 10px

body 
  font-family: 'Inter', sans-serif

*
  margin: 0

a 
  display: inline-block
  text-decoration: none

.wrapper
  width: 85%
  margin: 0 auto

.flex-sb
  display: flex
  justify-content: space-between
  align-items: center

section 
  padding: 100px 0

//section about company

.about-us
  position: relative
  p 
    font: 2.4rem $inter
    font-weight: 400
    color: #333
    margin-bottom: 10px
  .flex-sb>div 
    width: 50%
  .img 
    position: relative
    padding-left: 70px
    box-sizing: border-box
    &:before,
    &:after 
      content: ''
      position: absolute 
      z-index: -1
    &:before
      top: -5% 
      right: -5%
      width: 260px
      height: 260px
      background-color: #bbe0f2
    &:after 
      bottom: 10% 
      right: -15%
      width: 80px
      height: 80px
      background-color: #879db6
  img 
    border-radius: 5px
    width: 100%
    height: 80%
    object-fit: contain
h2 
  display: inline-block
  font-family: $comfortaa 
  font-size: 4.8rem 
  font-weight: 600
  text-transform: uppercase
  color: $primary
  border-bottom: 2px solid $second
  margin-bottom: 5px

//section services 

.services 
  background-color: $dark-bg 
  h2 
    margin-bottom: 50px
  svg 
    fill: #fff 
    margin-bottom: 20px
    max-height: 81px 
    height: 100%
    transition: $trs
  h4 
    font: 1.8rem $inter
    color: #fff
    font-weight: 400
    text-transform: uppercase
    text-align: center
    transition: $trs

.services-line 
  align-items: stretch
  margin: 0 -1px

.service 
  display: flex 
  flex-direction: column
  align-items: center
  width: calc( 20% - 2px )
  padding: 30px 70px
  box-sizing: border-box
  background-color: $primary
  margin: 1px
  &:hover 
    h4 
      color: $second
    svg 
      fill: $second

// section works exaples (slider)

.examples
  position: relative
  text-align: center
  overflow: hidden
  h2
    margin-bottom: 50px
  &::before,
  &::after
    content: ''
    position: absolute 
     z-index: -1
  &::before 
    top: 70%
    left: 0%
    width: 50px
    height: 50px
    background-color: #91d0ed
  &::after
    top: 10%
    right: 0.5%
    width: 62px
    height: 62px
    background-color: #879db6

.slider 
  position: relative
  justify-content: center
  padding: 50px
  background-color: $dark-bg
  margin-bottom: 50px
  &::before,
  &::after
    content: ''
    position: absolute
     z-index: -1 
  &::before 
    top: 20%
    left: -30%
    width: 26%
    height: 50%
    background-color: #c8e7f6
  &::after
    top: 40%
    right: -25%
    width: 20%
    height: 45%
    background-color: #c8e7f6

.arr 
  width: 65px
  height: 65px
  background-color: $second
  border-radius: 5px
  justify-content: center
  transition: $trs
  svg 
    width: 26px
    height: 49px
    fill: #fff
  &:hover 
    transform: scale(1.1)

.arr-right svg 
  transform: rotate(180deg)

.slider-line 
  width: 40%
  margin: 0 50px
  border-radius: 5px
  overflow: hidden
  max-height: 70vh
  scroll-behavior: smooth
  div 
    max-width: 100%
    min-width: 100%
  img 
    width: 100%
    height: 100%
    object-fit: cover
    object-position: top center

.slider-navigation 
  position: relative
  padding: 30px
  border-radius: 5px
  background-color: $primary
  &::before,
  &::after
    content: ''
    position: absolute 
    z-index: -1
    width: 80px
    height: 80px
  &::before 
    top: -85%
    left: -7%
    background-color: #879db6
  &::after
    top: -290%
    right: -6%
    background-color: #91d0ed
  

.navigation-line 
  justify-content: start
  overflow: hidden
  scroll-behavior: smooth
  div 
    order: 2
    min-width: 20%
  img 
    height: 20vh
    width: 60%
    object-fit: fill
    border-radius: 5px


//animations 

.animation-fade
  opacity: 0

.animation-left
  transform: translateX(-300%)

.animation-right 
  transform: translateX(300%)

.animation-bottom 
  transform: translateY(150%)

.anim 
  transition: $trs