footer 
  .wrapper 
    .footer-line.flex-sb 
      .soc-wrap.flex-sb.anim.animation-left 
        a(href="#")
          svg.viber
            use(xlink:href="img/sprite.svg#viber")
        a(href="#")
          svg.tg
            use(xlink:href="img/sprite.svg#telegram")
        a(href="#")
          svg.fb
            use(xlink:href="img/sprite.svg#facebook")
        a(href="#")
          svg.tt
            use(xlink:href="img/sprite.svg#tiktok")
      nav.menu.anim.animation-fade 
        ul.flex-sb 
          li
            a(href="#") про нас
          li
            a(href="#") послуги
          li
            a(href="#") Наші роботи
          li
            a(href="#") контакти 
      p.tel.anim.animation-right 
        a(href="tel:+380967679239") +380 96 767 92 39
        a(href="tel:+380731118129") +380 73 111 81 29
        svg 
          use(xlink:href="img/sprite.svg#tel")
    p.copy &copy; Copyright by «Dakan»