<!DOCTYPE html>
html(lang="uk")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
		title Компанія Dakan - натяжні стелі м.Хмельницький
		link(rel="stylesheet", href="css/style.css")
		<link rel="preconnect" href="https://fonts.gstatic.com">
	body
		include helper/vars
		include helper/mixin
		include components/header
		main 	
			section.about-us
				.wrapper
					h2.last-line.anim.animation-fade про компанію dakan 
					.flex-sb
						.description.anim.animation-left 
							p Компанія “Dakan” – це багаторічний досвід, надійність та висока якість. Ви можете покластися на нас у виборі матеріалів для монтажу натяжних стель.
							p До того ж компанія пропонує максимально вигідні для середньостатистичного клієнта ціни. Співпрацюючи з нами, ви можете переконатися, що ідеальна стеля — це не розкіш, а доступний всім комфорт від “Dakan”.
							p Наша компанія надає усім нашим клієнтам гарантію на стелі, а також з індивідуальним підходом береться за будь-який дизайн.
						.img.anim.animation-right
							img(src="img/about.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
			section.preferences 
				.wrapper 
					h2.last-line.anim.animation-fade Люди високо цінують головні переваги, до яких відноситься наступне:
					.preferences-line.flex-sb.anim.animation-fade 
						.preference
							svg
								use(xlink:href="img/sprite.svg#guarantee")
							h4 офіційна гарантія
						.preference
							svg
								use(xlink:href="img/sprite.svg#calculations")
							h4 заміри та проведення розрахунків
						.preference
							svg
								use(xlink:href="img/sprite.svg#price")
							h4 помірна вартість і приємні знижки
						.preference
							svg
								use(xlink:href="img/sprite.svg#workers")
							h4 ввічливі та компетентні співробітники
						.preference
							svg
								use(xlink:href="img/sprite.svg#quality")
							h4 висока якість товару і робіт
			section.examples 
				.wrapper 
					h2.last-line.anim.animation-fade Наші роботи 
					.slider.flex-sb
						.arr.arr-left.flex-sb.anim.animation-left
							svg 
								use(xlink:href="img/sprite.svg#arrow")
						.slider-line.flex-sb.anim.animation-fade
							div
								img(src="img/gallery1.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery2.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery3.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery4.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery5.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery6.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery7.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery8.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery9.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery10.JPG", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
						.arr.arr-right.flex-sb.anim.animation-right
							svg 
								use(xlink:href="img/sprite.svg#arrow")
					.slider-navigation.anim.animation-bottom 
						.navigation-line.flex-sb 
			section.services 
				.wrapper 
					h2.last-line.anim.animation-fade послуги
					.services-line.flex-sb 
						.service.anim.animation-left
							h3 фотодрук
							div.service-img
								img(src="img/print.jpg", alt="Послуга фотодрку від компанії Dakan")
							.service-description
								p Фотодрук – це можливість прикрасити стельовий простір за допомогою абсолютно будь-якого зображення.
						.service.anim.animation-left
							h3 ремонт
							div.service-img
								img(src="img/repair.jpg", alt="Послуга ремонту від компанії Dakan")
							.service-description
								p У разі пошкодження полотна, наші спеціалісти, проведуть його ремонт або заміну.
						.service.anim.animation-right
							h3 проектування
							div.service-img
								img(src="img/planning.jpg", alt="Послуга проектування від компанії Dakan")
							.service-description
								p Саме від підготовчих робіт залежить якісний монтаж натяжних стельових систем.
						.service.anim.animation-right
							h3 установка
							div.service-img
								img(src="img/installation.jpg", alt="Послуга установка від компанії Dakan")
							.service-description
								p “DAKAN” – це багато років досвіду встановлення натяжних стель. Працюємо в місті Хмельницький та області.
					p.company-description Компанія «Dakan» у Хмельницькому пропонує саме такі натяжні стелі. Ціна на них не є секретом і обговорюється з урахуванням всіх деталей установки і виконання відповідних розрахунків.
					p.company-description Ми гарантовано надаємо вам якісний матеріал, надійних робочих і експертів монтажу, а також грамотних проектувальників і фахівців з точних вимірах.
					p.company-description Якщо ви не знаєте, які натяжні стелі купити у Хмельницькому, звертайтеся за допомогою до наших експертів. Ми завжди онлайн і готові вам допомогти.
		include components/footer
		script(src="js/scripts.js")