<!DOCTYPE html>
html(lang="uk")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
		title Компанія Dakan - натяжні стелі м.Хмельницький
		link(rel="stylesheet", href="css/style.css")
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap" rel="stylesheet">
	body
		include helper/vars
		include helper/mixin
		include components/header
		main 	
			section.about-us
				.wrapper
					h2.anim.animation-fade про компанію dakan 
					.flex-sb
						.description.anim.animation-left 
							p Компанія “Dakan” – це багаторічний досвід, надійність та висока якість. Ви можете покластися на нас у виборі матеріалів для монтажу натяжних стель.
							p До того ж компанія пропонує максимально вигідні для середньостатистичного клієнта ціни. Співпрацюючи з нами, ви можете переконатися, що ідеальна стеля — це не розкіш, а доступний всім комфорт від “Dakan”.
							p Наша компанія надає усім нашим клієнтам гарантію на стелі, а також з індивідуальним підходом береться за будь-який дизайн.
						.img.anim.animation-right
							img(src="img/about.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
			section.services 
				.wrapper 
					h2.anim.animation-fade Люди високо цінують головні переваги, до яких відноситься наступне:
					.services-line.flex-sb.anim.animation-fade 
						.service
							svg
								use(xlink:href="img/sprite.svg#guarantee")
							h4 офіційна гарантія
						.service
							svg
								use(xlink:href="img/sprite.svg#calculations")
							h4 заміри та проведення розрахунків
						.service
							svg
								use(xlink:href="img/sprite.svg#price")
							h4 помірна вартість і приємні знижки
						.service
							svg
								use(xlink:href="img/sprite.svg#workers")
							h4 ввічливі та компетентні співробітники
						.service
							svg
								use(xlink:href="img/sprite.svg#quality")
							h4 висока якість товару і робіт
			section.examples 
				.wrapper 
					h2.anim.animation-fade Наші роботи 
					.slider.flex-sb
						.arr.arr-left.flex-sb.anim.animation-left
							svg 
								use(xlink:href="img/sprite.svg#arrow")
						.slider-line.flex-sb.anim.animation-fade
							div
								img(src="img/gallery1.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery2.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery3.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery4.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery5.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery6.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery7.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery8.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery9.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
							div
								img(src="img/gallery10.jpg", alt="Приклад квартири з натяжною стелею від компанії “Dakan”")
						.arr.arr-right.flex-sb.anim.animation-right
							svg 
								use(xlink:href="img/sprite.svg#arrow")
					.slider-navigation.anim.animation-bottom 
						.navigation-line.flex-sb 
							
		include components/footer
		script(src="js/scripts.js")